@import '../../scss/lib/theme/vars';

.home {
  display: inline-block;
  margin: $margin;
  background-color: $darkGray;
  color: $white;
  font-size: $fontSize * 0.7;
  h2 {
    padding: 2vw;
  }
  border-radius: 0.5vw;
}
